body {
    font-family: sans-serif;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 1em;
  }
  
  label,
  input,
  textarea {
    display: block;
  }
  
  input,
  textarea {
    padding: 0.25em 0.5em;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .submit-btn {
    background: #66d;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
  }